.password-form {
  display: flex;
  flex-direction: column;
}
.input-wrapper {
  position: relative;
  width: 200px;
 
}

.input-wrapper input {
  min-width: 120px;
  padding: 10px;
  margin-bottom: 24px;
}

.redText {
  display: none;
  color: red;
  margin-top: 5px;
  width: 200px;
}
.text-unblock {
  display: block;
}

.input-wrapper i {
  position: absolute;
  right: 25px;
  top: 30px;
  color: grey;
}
.input1{
  display: block;
}
.icon11 {
  display: none;
}

.btn{
  width: 150px;
}


.input2{
  display: block;
}
.icon22{
  display: none;
}

